__pycache__/
*.py[cod]
admin_service/staticfiles/admin/css/autocomplete.css
admin_service/staticfiles/admin/css/base.css
admin_service/staticfiles/admin/css/changelists.css
admin_service/staticfiles/admin/css/dark_mode.css
admin_service/staticfiles/admin/css/dashboard.css
admin_service/staticfiles/admin/css/forms.css
admin_service/staticfiles/admin/css/login.css
admin_service/staticfiles/admin/css/nav_sidebar.css
admin_service/staticfiles/admin/css/responsive_rtl.css
admin_service/staticfiles/admin/css/responsive.css
admin_service/staticfiles/admin/css/rtl.css
admin_service/staticfiles/admin/css/widgets.css
admin_service/staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
admin_service/staticfiles/admin/css/vendor/select2/select2.css
admin_service/staticfiles/admin/css/vendor/select2/select2.min.css
admin_service/staticfiles/admin/img/calendar-icons.svg
admin_service/staticfiles/admin/img/icon-addlink.svg
admin_service/staticfiles/admin/img/icon-alert.svg
admin_service/staticfiles/admin/img/icon-calendar.svg
admin_service/staticfiles/admin/img/icon-changelink.svg
admin_service/staticfiles/admin/img/icon-clock.svg
admin_service/staticfiles/admin/img/icon-deletelink.svg
admin_service/staticfiles/admin/img/icon-no.svg
admin_service/staticfiles/admin/img/icon-unknown-alt.svg
admin_service/staticfiles/admin/img/icon-unknown.svg
admin_service/staticfiles/admin/img/icon-viewlink.svg
admin_service/staticfiles/admin/img/icon-yes.svg
admin_service/staticfiles/admin/img/inline-delete.svg
admin_service/staticfiles/admin/img/LICENSE
admin_service/staticfiles/admin/img/README.txt
admin_service/staticfiles/admin/img/search.svg
admin_service/staticfiles/admin/img/selector-icons.svg
admin_service/staticfiles/admin/img/sorting-icons.svg
admin_service/staticfiles/admin/img/tooltag-add.svg
admin_service/staticfiles/admin/img/tooltag-arrowright.svg
admin_service/staticfiles/admin/js/actions.js
admin_service/staticfiles/admin/js/autocomplete.js
admin_service/staticfiles/admin/js/calendar.js
admin_service/staticfiles/admin/js/cancel.js
admin_service/staticfiles/admin/js/change_form.js
admin_service/staticfiles/admin/js/collapse.js
admin_service/staticfiles/admin/js/core.js
admin_service/staticfiles/admin/js/filters.js
admin_service/staticfiles/admin/js/inlines.js
admin_service/staticfiles/admin/js/jquery.init.js
admin_service/staticfiles/admin/js/nav_sidebar.js
admin_service/staticfiles/admin/js/popup_response.js
admin_service/staticfiles/admin/js/prepopulate_init.js
admin_service/staticfiles/admin/js/prepopulate.js
admin_service/staticfiles/admin/js/SelectBox.js
admin_service/staticfiles/admin/js/SelectFilter2.js
admin_service/staticfiles/admin/js/theme.js
admin_service/staticfiles/admin/js/urlify.js
admin_service/staticfiles/admin/js/admin/DateTimeShortcuts.js
admin_service/staticfiles/admin/js/admin/RelatedObjectLookups.js
admin_service/staticfiles/admin/js/vendor/jquery/jquery.js
admin_service/staticfiles/admin/js/vendor/jquery/jquery.min.js
admin_service/staticfiles/admin/js/vendor/jquery/LICENSE.txt
admin_service/staticfiles/admin/js/vendor/select2/LICENSE.md
admin_service/staticfiles/admin/js/vendor/select2/select2.full.js
admin_service/staticfiles/admin/js/vendor/select2/select2.full.min.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/af.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/ar.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/az.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/bg.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/bn.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/bs.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/ca.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/cs.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/da.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/de.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/dsb.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/el.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/en.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/es.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/et.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/eu.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/fa.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/fi.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/fr.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/gl.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/he.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/hi.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/hr.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/hsb.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/hu.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/hy.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/id.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/is.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/it.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/ja.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/ka.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/km.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/ko.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/lt.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/lv.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/mk.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/ms.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/nb.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/ne.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/nl.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/pl.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/ps.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/pt.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/ro.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/ru.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/sk.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/sl.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/sq.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/sr.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/sv.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/th.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/tk.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/tr.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/uk.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/vi.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
admin_service/staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
admin_service/staticfiles/admin/js/vendor/xregexp/LICENSE.txt
admin_service/staticfiles/admin/js/vendor/xregexp/xregexp.js
admin_service/staticfiles/admin/js/vendor/xregexp/xregexp.min.js
